<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the Twitter like "sample rails application" at the
  <a href="http://github.com/tarunjadhwani">Rails Application help page</a>.
  To get help on this Microblogging App, see the
  <a href="http://github.com/tarunjadhwani">Rails Tutorial book</a>.
</p>